<ActionBar title="">
    <NavigationButton text="" android.systemIcon="ic_menu_back" (tap)="onBack()"></NavigationButton>
    <ActionItem (tap)="onFollow()" ios.position="right" android.position="actionBar">
        <StackLayout orientation="horizontal" class="btn-rounded" style="{{ profile?.following ? 'color: red;' : 'color: green;' }}">
            <Label [text]="'fa-plus' | fonticon" class="fa m-r-10"></Label>
            <Label text="{{ profile?.following ? 'Unfollow' : 'Follow' }}" class="m-r-15"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>
<GridLayout rows="auto, auto, *" columns="*" class="m-5">
    <Image row="0" [src]="profile?.image" class="img-circle" height="64" horizontalAlignment="center"></Image>

    <StackLayout row="1" class="m-t-10">
        <Label class="h2" [text]="profile?.username"></Label>
        <Label [text]="profile?.bio"></Label>
    </StackLayout>
</GridLayout>

<ActivityIndicator [busy]="isLoading" horizontalAlignment="center" verticalAlignment="center" class="activity-indicator"></ActivityIndicator>