<ActionBar>
    <GridLayout columns="auto, *, auto, auto" rows="*">
        <Label [text]="'fa-bars' | fonticon" row="0" col="0" class="fa" (tap)="onSidebar()" verticalAlignment="center"></Label>
        <Label [text]="title" row="0" col="1" class="h2" horizontalAlignment="center" verticalAlignment="center"></Label>
        <Label [text]="'fa-bell-o' | fonticon" row="0" col="2" class="fa m-r-15" (tap)="onNotifications()" verticalAlignment="center"></Label>
        <Label [text]="'fa-search' | fonticon" row="0" col="3" class="fa m-r-15" (tap)="onSearch()" verticalAlignment="center"></Label>
    </GridLayout>
</ActionBar>
<GridLayout columns="*" rows="*">
    <TextView [text]="articles" editable="false" row="0" col="0"></TextView>
</GridLayout>