<ActionBar title="">
    <NavigationButton text="" android.systemIcon="ic_menu_back" (tap)="onBack()"></NavigationButton>
    
    <GridLayout row="2" rows="auto, auto" columns="auto, auto" class="article-item-author" style="width: 100%;" horizontalAlignment="left" position="left">
        <Image row="0" col="0" rowspan="2" [src]="article?.author.image" class="img-circle" height="32" class="m-r-10"></Image>

        <StackLayout row="1" col="1" class="article-item-text">
            <Label class="p-t-10" [text]="article?.author.username" (tap)="onAuthor($event)"></Label>
            <Label class="p-b-10 font-italic" [text]="article?.createdAt | date"></Label>
        </StackLayout>
    </GridLayout>

    <ActionItem (tap)="onFavorited()" ios.position="right" android.position="actionBar">
        <StackLayout orientation="horizontal" class="btn-rounded" style="color: green;">
            <Label [text]="(article?.favorited ? 'fa-heart' : 'fa-heart-o') | fonticon" class="fa m-r-10"></Label>
            <Label [text]="article?.favoritesCount" class="m-r-5"></Label>
        </StackLayout>
    </ActionItem>
    <ActionItem text="" (tap)="onShare()" android.systemIcon="ic_menu_share_holo_light" ios.systemIcon="9" ios.position="right"></ActionItem>
</ActionBar>

<GridLayout rows="auto, auto, auto, *" columns="*" class="m-10">
    <Label row="0" [text]="article?.title" class="h1" textWrap="true"></Label>
    <Label row="1" [text]="article?.description" class="text-primary font-weight-bold" textWrap="true"></Label>
    <HtmlView row="2" [html]="articleBody" class="m-t-5"></HtmlView>

    <StackLayout row="3">
        <TextField *ngIf="isLoggedIn" text="{{ 'comment.response' | L }}" (focus)="onFocus($event)" class="input input-border"></TextField>
        <conduit-list-comments *ngIf="article" [slug]="article.slug"></conduit-list-comments>
    </StackLayout>    
</GridLayout>

<ActivityIndicator [busy]="isLoading" horizontalAlignment="center" verticalAlignment="center" class="activity-indicator"></ActivityIndicator>