.comment-item {
    padding: 0 0 8 0;
    background-color: lightgray;
}

.comment-item-content {
    padding: 8 15 4 15;
    background-color: white;
    border-bottom-color: darkgray;
    border-bottom-width: 1;
}